.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  justify-content: center;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
}

/* PIECES STYLE */
.piece-container {
  border: 1px solid #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}
.piece {
  cursor: pointer;
  height: 50px;
  padding: 1rem;
  width: 50px;
}

.piece.selected-piece {
  background-color: #dfdfdf;
  border-radius: 1rem;
}

/* Each square style */
.square {
  border: 1px solid black;
  cursor: pointer;
}

.square.black {
  background-color: rgb(169, 116, 116);
}

.square.white {
  background-color: rgb(243, 221, 221);
}

.square.selected {
  background-color: rgb(212, 118, 246);
}

.square.can-move {
  background-color: rgb(124, 255, 124);
}
